<html xmlns:th="http://www.thymeleaf.org">
<head>
	<link rel="stylesheet" type="text/css" href="/kdy/seriesStyle.css">
</head>
<body>
<div class="listdiv">
	<div class="serieslist" th:each="series : ${seriesList}">
		<a class="seriesatag" href="/kdy/seriesDetail.html">
			<div class="serieslistdiv">
				<img class="seriesimg" src="/kdy/imgs/test.jpg" th:src="${series.seriesImgUrl}" >
			</div>
		</a>
		<h4 class="titleh4tag">
			<a href="#" th:text="${series.seriesName}">spring-boot 교육과정</a>
		</h4>
		<div>
			<span th:text="|${series.boardCnt}개의 포스터|"></span>
			<span>·</span>
			<span th:text="|마지막 업데이트 ${series.updateDateToNow}일 전|"></span>
		</div>
	</div>
</div>
</body>
</html>