<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Setting - Velog </title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/css/setPage_styles.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <script src="/setPage/setPageScript.js"></script>
    <link th:href="@{/css/headerStyle.css}" rel="stylesheet">
</head>
<body>

<!-- 프로필 메인 영역 시작 -->
<div id="header" th:replace="fragments/header :: header"></div>
<main class="container-md mainframe">

    <section class="Profile-main">
        <div class="thumbnail-area">
            <img src="img/devJeans.png" onerror="this.src='/css/imgs/corgi.png'"
                 alt="profile-image"
                 id="profile-image" th:src="@{${member.profileImg}}">
                 <label for="UPB2">
				  <div class="btn-upload">사진 변경</div>
				</label>
				<input id="UPB2" type="file" onchange="previewImage()" accept="image/*">	
<!-- 			<img id="preview" src="" alt="Preview"> -->

<!--             <button color="transparent" id="RMB" >이미지 제거</button> -->
				<button color="transparent" id="RMB2" onclick="del()">이미지 제거</button>
        </div>
        <div class="info-area">

            <!-- default 값 -->
            <div class="defaultInfo" id="defInfo">
                <h2 class="vUsername"
                    th:text="${member.userName != null && member.userName != ' ' ? member.userName : '입력된 이름이 없습니다.'}"></h2>
                <p class="vUserBio"
                   th:text="${member.userBio != null && member.userBio != ' ' ? member.userBio : '입력된 한 줄 소개가 없습니다.'}"></p>
                <button class="edit-button" id="editButton_Mp">수정</button>
            </div>

            <!-- 숨겨진 항목 (수정 버튼 클릭시 나오는 영역) -->
            <div id="defInfo_editForm" style="display : none;">
                <form class="edit_mainForm" method="post"
                      id="editForm"
                      th:action="@{/members/setPage/edit(memberId=__${session.memberId}__)}">
                    <!--          th:action="@{/members/setPage/{memberId}/edit(memberId=${member.memberId})}">-->
                    <input placeholder="이름" class="textArea vName_e" name="userName"
                           value="" th:value="${member.userName}">
                    <input placeholder="한 줄 소개" class="textArea vBio_e" name="userBio"
                           value="" th:value="${member.userBio}">
                    <div class="button-wrapper">
                        <button color="teal" class="save-button" id="save-btn-info">저장</button>
                    </div>
                </form>
            </div>

        </div>
    </section>

    <!-- ====== 프로필 디테일 영역 시작 ====== -->
    <section class="Profile-detail">

        <!-- 벨로그 제목 영역 시작 -->
<!--         <div class="pd p_dt"> -->
<!--             <div class="wrapper"> -->
<!--                 <div class="title-wrapper"> -->
<!--                     <h3>벨로그 제목</h3> -->
<!--                 </div> -->
<!--                 <div class="block-set"> -->

<!--                     default 값 -->
<!--                     <div class="block-set" id="vPageName"> -->
<!--                         <div class="contents" id="vPageNameT" -->
<!--                              th:text="${member.velogPageName}"></div> -->
<!--                         <div class="edit-wrapper"> -->
<!--                             <button class="edit-button" id="editButton_vN">수정</button> -->
<!--                         </div> -->
<!--                     </div> -->


<!--                     숨겨진 항목 (수정 버튼 클릭시 나오는 영역) -->
<!--                     <div class="contents" id="vPageName_editForm" style="display: none;"> -->
<!--                         <form class="vName_editForm" id="editForm2" method="post" -->
<!--                               th:action="@{/members/setPage/edit2(memberId=__${session.memberId}__)}"> -->
<!--                                              th:action="@{/members/setPage/{memberId}/edit2(memberId=${member.memberId})}"> -->
<!--                             <input placeholder="벨로그 제목" id="vPageNameT_e" name="velogPageName" -->
<!--                                    th:value="${member.velogPageName}"> -->
<!--                             <button color="teal" class="save-button" id="save-btn-PageName">저장</button> -->
<!--                         </form> -->
<!--                     </div> -->

<!--                 </div> -->
<!--             </div> -->
<!--             <div class="description">개인 페이지의 좌측 상단에 나타나는 페이지 제목입니다.</div> -->
<!--         </div> -->

        <!-- 소셜 정보 영역 시작 -->
        <th:block th:if="${sns != null}">
        <div class="pd p_dt" id="social-infoset">
            <div class="wrapper">
                <div class="title-wrapper">
                    <h3>소셜 정보</h3>
                </div>
                <div class="block-set">

                    <!-- default 값 -->
                    <div class="block-set" id="snsInfo">
                        <div class="contents">
                            <ul class="social-info-textlist">
                                <li>
                                    <img class="icons" src="/setPage/img/email-icon.svg"
                                         onerror="this.src='/kdy/imgs/noImage.png'" alt="email">
                                    <div id="snsEmail"
                                         th:text="${member.userEmail != null && member.userEmail != ' ' ? member.userEmail : '입력된 이메일이 없습니다.'}"></div>
                                </li>
                                <li>
                                    <img class="icons" src="/setPage/img/github-icon.svg"
                                         onerror="this.src='/kdy/imgs/noImage.png'" alt="github">
                                    <div id="snsGithub"
                                         th:text="${sns.userGithub != null && sns.userGithub != ' ' && sns.userGithub != ''? sns.userGithub : '입력된 Github 링크가 없습니다.'}"></div>
                                </li>
                                <li>
                                    <img class="icons" src="/setPage/img/twitter-icon.svg"
                                         onerror="this.src='/kdy/imgs/noImage.png'" alt="home">
                                    <div id="snsTwitter"
                                         th:text="${sns.userTwitter != null && sns.userTwitter != ' ' ? sns.userTwitter : '입력된 Twitter 링크가 없습니다.'}"></div>
                                </li>
                                <li>
                                    <img class="icons" src="/setPage/img/facebook-icon.svg"
                                         onerror="this.src='/kdy/imgs/noImage.png'" alt="home">
                                    <div id="snsFacebook"
                                         th:text="${sns.userFacebook != null && sns.userFacebook != ' ' ? sns.userFacebook : '입력된 Facebook 링크가 없습니다.'}"></div>
                                </li>
                                <li>
                                    <img class="icons" src="/setPage/img/home-icon.svg"
                                         onerror="this.src='/kdy/imgs/noImage.png'" alt="home">
                                    <div id="snsHome"
                                         th:text="${sns.userHomepage != null && sns.userHomepage != ' ' ? sns.userHomepage : '입력된 개인 홈페이지 링크가 없습니다.'}"></div>
                                </li>
                            </ul>
                        </div>
                        <div class="edit-wrapper">
                            <button class="edit-button" id="editButton_sns">수정</button>
                        </div>
                    </div>

                    <!-- 숨겨진 항목 (수정 버튼 클릭시 나오는 영역) -->
                    <div class="contents" id="snsInfo_e" style="display: none;">
                        <form class="edit_SnsForm" method="post" id="editForm3"
                              th:action="@{/members/setPage/edit3(memberId=__${session.memberId}__)}">
                            <!--                  th:action="@{/members/setPage/{memberId}/edit3(memberId=${member.memberId})}">-->
                            <ul class="sns_textSet">
                                <li class="snsBox">
                                    <img class="icons" src="/setPage/img/email-icon.svg"
                                         onerror="this.src='/kdy/imgs/noImage.png'" alt="email">
                                    <input name="userEmail" class="snsButton sns_editBox" id="snsEmail_e"
                                           placeholder="이메일을 입력하세요."
                                           value="" th:value="${member.userEmail}" readonly>
                                </li>
                                <li class="snsBox">
                                    <img class="icons" src="/setPage/img/github-icon.svg"
                                         onerror="this.src='/kdy/imgs/noImage.png'" alt="Github">
                                    <input name="userGithub" class="snsButton sns_editBox"
                                           id="snsGithub_e"
                                           placeholder="Github 계정을 입력하세요."
                                           value="" th:value="${sns.userGithub}">
                                     <input type="button" value="삭제" onclick="delSns('snsGithub_e')" style="border: none;margin: 0px 5px 0px 5px;border-radius: 4px;color: #000000ad;">
                                </li>
                                <li class="snsBox">
                                    <img class="icons" src="/setPage/img/twitter-icon.svg"
                                         onerror="this.src='/kdy/imgs/noImage.png'" alt="twitter">
                                    <input name="userTwitter" class="snsButton sns_editBox"
                                           id="snsTwitter_e"
                                           placeholder="Twitter 계정을 입력하세요."
                                           value="" th:value="${sns.userTwitter}">
                                    <input type="button" value="삭제" onclick="delSns('snsTwitter_e')" style="border: none;margin: 0px 5px 0px 5px;border-radius: 4px;color: #000000ad;">      
                                </li>
                                <li class="snsBox">
                                    <img class="icons" src="/setPage/img/facebook-icon.svg"
                                         onerror="this.src='/kdy/imgs/noImage.png'" alt="facebook">
                                    <div tabindex="0" class="facebookBox">
                                        <span>https://www.facebook.com/</span>
                                        <input name="userFacebook" value="" id="snsFacebook_e"
                                               th:value="${sns.userFacebook}">
                                    </div>
                                    <input type="button" value="삭제" onclick="delSns('snsFacebook_e')" style="border: none;margin: 0px 5px 0px 5px;border-radius: 4px;color: #000000ad;"> 
                                </li>
                                <li class="snsBox">
                                    <img class="icons" src="/setPage/img/home-icon.svg"
                                         onerror="this.src='/kdy/imgs/noImage.png'" alt="home">
                                    <input name="userHomepage" class="snsButton sns_editBox"
                                           id="snsHome_e"
                                           placeholder="홈페이지 주소를 입력하세요."
                                           value="" th:value="${sns.userHomepage}" th:placeholder="${'홈페이지 주소를 입력하세요.'}">
                                    <input type="button" value="삭제" onclick="delSns('snsHome_e')" style="border: none;margin: 0px 5px 0px 5px;border-radius: 4px;color: #000000ad;">        
                                </li>
                            </ul>
                            <div class="button-wrapper">
                                <button color="teal" class="save-button" id="save-btn-sns" > 저장</button>
                            </div>
                        </form>
                    </div>

                </div>
            </div>
            <div class="description">포스트 및 블로그에서 보여지는 프로필에 공개되는 소셜 정보입니다.</div>
        </div>
        </th:block>

        <!-- 이메일 주소 영역 시작 -->
        <div class="pd p_dt" id="email-area">
            <div class="wrapper">
                <div class="title-wrapper">
                    <h3>이메일 주소</h3>
                </div>
                <div class="block-set">
                    <div class="contents" th:text="${member.userEmail}"> E-mail AREA</div>
                </div>
            </div>
            <div class="description">회원 인증 또는 시스템에서 발송하는 이메일을 수신하는 주소입니다.</div>
        </div>

        <!-- 이메일 수신 설정 영역 시작 -->
        <div class="pd p_dt" id="em-rcv-area">
            <div class="wrapper">
                <div class="title-wrapper">
                    <h3>이메일 수신 설정</h3>
                </div>
                <div class="block-set">
                    <div class="contents">
                        <ul class="rcv-ul">
                            <li>
                                <span>댓글 알림</span>
                                <div class="rcv-checklist">
                                    <label class="toggleSwitch">
                                        <span class="toggleButton"></span>
                                    </label>
                                </div>
                            </li>
                            <li>
                                <span>벨로그 업데이트 소식</span>
                                <div class="rcv-checklist">
                                    <label class="toggleSwitch">
                                        <span class="toggleButton"></span>
                                    </label>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <!-- 회원 탈퇴 영역 시작 -->
        <div class="pd p_dt" id="del-ac">
            <div class="wrapper">
                <div class="title-wrapper">
                    <h3>회원 탈퇴</h3>
                </div>
                <div class="block-set">
                    <div class="contents">
                        <button class="del-button" id="deleteAccount">회원 탈퇴</button>
                    </div>
                </div>
            </div>
            <div class="description">탈퇴 시 작성하신 포스트 및 댓글이 모두 삭제되며 복구되지 않습니다.</div>
        </div>

        <div class="deleteAcFrame" style=" display: none;">
            <div class="alertFrame">
                <div class="aF_textFrame">
                    <h3>회원 탈퇴</h3>
                    <div class="message">정말로 탈퇴 하시겠습니까?</div>
                    <div class="button-area">
                        <button color="transparent" class="deleteAc_btn cancel_b">취소</button>
                        <button color="teal" class="deleteAc_btn ok_b">확인</button>
                    </div>
                </div>
            </div>
        </div>

    </section>
</main>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
        crossorigin="anonymous"></script>
<script>
function delSns(snsId){
    var selsns=document.getElementById(snsId);
    selsns.value="";
}


function del(){
	const preview = document.getElementById('profile-image');
	preview.src = "/css/img/corgi.png";
	
	//ajax
	var xhr = new XMLHttpRequest();
	xhr.open("POST", "/delProfile", true);
	xhr.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
	
	var formData = "imgsrc=" + encodeURIComponent(preview.src) ;
	xhr.send(formData);
	xhr.onreadystatechange = function(){
		if(xhr.readyState == 4){
			if(xhr.responseText.trim() == "ok"){
				//저장성공 
				alert("삭제되었습니다.");
			}else{
				//저장실패
				alert("삭제실패.");
			}
			location.reload();
			
		}
	}
}



function previewImage() {
	  const input = document.getElementById('UPB2');
	  const preview = document.getElementById('profile-image');
	  const old = preview.src;
	  var imageURL;
	  // 파일이 선택되었을 때만 실행
	  if (input.files && input.files[0]) {
	    const reader = new FileReader();
	    reader.onload = async function (e) {
	      if (input.files && input.files[0].size > (1.5 * 1024 * 1024)) {
	        const file = input.files[0];
	        const blobUrl = URL.createObjectURL(file);
	        var img = new Image();
	        img.src = blobUrl;
	        img.onload = function () {
	          var canvas = document.createElement('canvas');
	          var ctx = canvas.getContext('2d');

	          var maxSize = 1.4 * 1024 * 1024; // 1.4MB
	          var width = img.width;
	          var height = img.height;
	          var ratio = Math.sqrt(maxSize / (width * height));
	          canvas.width = width * ratio;
	          canvas.height = height * ratio;
	          ctx.drawImage(img, 0, 0, canvas.width, canvas.height);

	          var dataURL = canvas.toDataURL('image/jpeg', 0.9);

	          preview.src = dataURL;
	          sendDataToServer(preview.src);
	        };
	      } else {
	        preview.src = e.target.result;
	        sendDataToServer(preview.src);
	      }
	    };

	    reader.readAsDataURL(input.files[0]);
	  }
	}

	function sendDataToServer(imgsrc) {
	  // http://localhost:9090/css/imgs/corgi.png - 기본 이미지 주소
	  //ajax
	  var xhr = new XMLHttpRequest();
	  xhr.open("POST", "/members/profile", true);
	  xhr.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
	  var imgpath = "imgsrc=" + encodeURIComponent(imgsrc);
// 	  alert("세번째 : " + imgsrc);
	  xhr.send(imgpath);

	  xhr.onreadystatechange = function () {
	    if (xhr.readyState == 4) {
	      if (xhr.responseText.trim() == "ok") {
	        //저장성공 
	        alert("프로필 이미지가 변경되었습니다.");
	        location.reload();
	      } else {
	        //저장실패
	        alert("실패");
	      }
	    }
	  }
	}

</script>
<script>

    // ===================== 헤더 추가 =====================
    //     $(function() {
    //       $("#header").load("/header/header.html");
    //     });
    const tabItem = document.querySelectorAll(".tab-container__item");
    const tabContent = document.querySelectorAll(".content-container__content");

    tabItem.forEach((item) => {
        item.addEventListener("click", tabHandler);
    });
</script>
<script>

// var snsGithub_e = document.getElementById("snsGithub_e");
// var userTwitter = document.getElementById("userTwitter");
// var userFacebook = document.getElementById("userFacebook");
// var userHomepage = document.getElementById("userHomepage");
// var editForm3 = document.getElementById("editForm3");
// function savebtn(){
// // 	alert("dsads : "+snsGithub_e.value);
// // 	console.log("dsads : "+snsGithub_e.value);
// 	if(snsGithub_e.value==null || snsGithub_e.value.trim()==""){
// // 		alert("dsads : "+snsGithub_e.value);
// 		snsGithub_e.value=" ";
// 	}
// 	if(userTwitter.value==null || userTwitter.value.trim()==""){
// 		userTwitter.value=" ";
// 	}
// 	if(userFacebook.value==null || userFacebook.value.trim()==""){
// 		userFacebook.value=" ";
// 	}
// 	if(userHomepage.value==null || userHomepage.value.trim()==""){
// 		userHomepage.value=" ";
// 	}
// 	editForm3.submit();
// }
</script>
</html>