<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/autosize.js/4.0.2/autosize.min.js"></script>
    <link rel="stylesheet" type="text/css" href = "/body1/style.css">
    <link rel="stylesheet" type="text/css" href = "/kdy/seriesStyle.css">


</head>

<body>
   <div id="header"></div>
   <br><br><br>
	<div class="seriesdetail">
		<div class="">
			<label>시리즈</label>
			<h1 contenteditable="false" th:text="${seriesName}">spring-boot 교육과정</h1>
			<div class="line"></div>
			<section>
				<div class="btndiv1">
					<div class="btndiv2">
						<button id="editbtn">수정</button>
						<button id="deletebtn">삭제</button>
					</div>
				</div>
				<div class="sortbtndiv">
					<button class="sortbtn">
						<svg stroke="currentColor" fill="currentColor" stroke-width="0"
							viewBox="0 0 24 24" data-testid="arrow" height="1em" width="1em"
							xmlns="http://www.w3.org/2000/svg">
							<path d="M7.41 15.41L12 10.83l4.59 4.58L18 14l-6-6-6 6z"></path></svg>
						<span>오름차순</span>
					</button>
				</div>
				
				
				<!-- series detail list -->
				
				<div class="seriesdetaillist" th:each="board : ${boardList}")>
					<div class="">
						<h2 class="detailtitle">
							<span class="number" th:text="|${boardStat.count}.|">1.</span>
							<a class=""
								th:text="${board.boardTitle}"
								href="/@kdy2da/Day57-2023.04.13목">Day57 2023.04.13(목)</a>
						</h2>
						<section>
							<a class="" href="/@kdy2da/Day57-2023.04.13목">
							<img
								onerror="this.src='/kdy/imgs/noImage.png'"
								th:src="${board.thumbnailPath}"
								alt="post-thumbnail" class=""></a>
							<div class="post-info">
								<p th:text="${board.boardCont}"></p>
								<div class="date" th:text="${board.boardDate}">2023년 4월 13일</div>
							</div>
						</section>
					</div>
				</div>
			</section>
		</div>
	</div>

</body>

</html>

<script>
	//외부 html 붙히기
	$(function() {
	  $("#header").load("/header/header.html");
	});
	const tabItem = document.querySelectorAll(".tab-container__item");
	const tabContent = document.querySelectorAll(".content-container__content");
	
	tabItem.forEach((item) => {
	item.addEventListener("click", tabHandler);
	});

  	//tab메뉴
	function tabHandler(item) {
	const tabTarget = item.currentTarget;
	const target = tabTarget.dataset.tab;
	tabItem.forEach((title) => {
	    title.classList.remove("active");
	});
	tabContent.forEach((target) => {
	    target.classList.remove("target");
	});
	document.querySelector("#" + target).classList.add("target");
	tabTarget.classList.add("active");
	}

    
    /* 오름 차순 내림 차순 버튼 이벤트 리스너*/
    var btnsort = $(".sortbtn");
    btnsort.click(function() {
    	var svg = $(".sortbtn svg");
    	var span = $(".sortbtn span");
    	if(svg.hasClass("rotate")){
	    	svg.removeClass("rotate");
	    	span.text("오름차순");
    	} else {
	    	svg.addClass("rotate");
	    	span.text("내림차순");
    	}
    	
    });
    
    /* 수정 버튼 눌렀을 때*/
    var btnupdate = $("#editbtn");
    var curURL = document.location.href;
    btnupdate.click(function() {
    	location.href= curURL + "/edit";
    });
    
    /* 삭제 버튼 눌렀을 때*/
    var btndelete = $("#deletebtn");
    var curURL = document.location.href;
    btndelete.click(function() {
    	if(confirm("해당 시리즈를 정말 삭제하시겠습니까?")){
	    	location.href= curURL + "/delete";
    	} else {
			return false;    		
    	}
    });
    
</script>