<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link th:href="@{/css/footerStyle.css}" rel="stylesheet">
</head>
<body>
<div id="footBody" th:fragment="footer">
    <section>
        <!-- 대충 뭐 요소들이 가득차있음 -->
    </section>
    <footer>
        <nav>
<!--            <a href='https://cocoder.tistory.com' target='_blank'>Blog</a> |-->
<!--            <a href='https://github.com/cocoder16' target='_blank'>Github</a>-->
        </nav>
        <p style="opacity: 0.5;">
            <span>Spring 2조 : welshcoding </span><br/>
            <span>장지원 | 고대열 | 신준수 | 이은호 | 김윤섭 | 이호준</span><br/>
            <span>Image Source : <a href="https://bit.ly/41ZlOPo"> Click here </a> </span><br>
<!--            <span>Copyright 2020. cocoder. All Rights Reserved.</span>-->
        </p>
    </footer></div>
</body>
</html>