<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
      <link th:href="@{/css/headerStyle.css}" rel="stylesheet">
</head>


<body >

    <div class="main_header" th:fragment="header">
        <div class="header_left" >
	        <a class ="leftA" href="/mainBoard">
	        	<div class="header_left_icon">
	                <img class="icon_black" src="/header/imgs/icon_black.png">
	            </div>
	            <button class="velog_name" >Z_ON</button>
	        </a>
            
        </div>
        <div class="header_right" >
            <div class="header_menu" ><!--style="background-color: brown;"-->
                <!-- <p>dd</p> -->
                <div class="dropdown">
                    <button class="dropbtn"> 
                      <img class="header_right_icon" src="/header/imgs/me_profile.png" >
                      <p class="dropbtnArrow" >▼</p>
                    </button>
                    <div class="dropdown-content">
                      <a href="/mainBoard">내 벨로그</a>
                      <a th:href="@{/gotemporary}">임시글</a>
                      <a th:href="@{/members/setPage/{parameter}(parameter=${memberId})}" >설정</a>
                      <a href="#">로그아웃</a>
                    </div>
                  </div>
            </div>
            <div class="header_newWriting" ><!--style="background-color: aqua; "-->
                <!-- <p>dd</p> -->
                <button class="header_newWriting_btn" onclick="location.href='/editPost/edit.html'" th:onclick="|location.href='@{/newPost}'|">새 글 작성</button>
            </div>
            <div class="header_search"  id="header_search"><!--style="background-color: blueviolet;"-->
                <!-- <p>dd</p> -->
                <a class="searchA" href="/search/search.html"><img class="header_right_searchIcon"  src="/header/imgs/search.png" ></a>
                
            </div>
            <div class="header_light" ><!--style="background-color: cadetblue;"-->
                <!-- 혹시모를 밝기 버튼 영역 -->
            </div>
        </div>
    </div>

 </body>

<script>


</script>

</html>