<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
<title>Insert title here</title>
<style type="text/css">
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@300&display=swap');

*{
font-family: 'IBM Plex Sans KR';
}
#inpputSeries{
width: 100%;
font-size: 15px;
padding: 0px;
outline: none;
height: 30px;
border-radius: 0px;
border: 1px solid; 
text-align: center;
border-color: #a7a7a7;
}
</style>
</head>
<body>
<p class="Seriname">현재 시리즈 : </p>
<input type="text" id="inpputSeries" class="inpputSeries" onkeypress="handleKeyPress(event)" placeholder="추가하고 싶은 시리즈를 입력해주세요"/>
<div style=" width:80%;">
	<ul id="seriesUl" style=" width:100%;   ">
		<li class="seriesLi" style="list-style:none; display: grid;" th:each="series: ${seriesList}">
		    <button class="alreadyIn" th:id="'selSeriBtn' + ${series.seriesId}" style="font-size: 15px; margin: 10px 0px 0px 0px; padding: 5px; border: none; border-radius: 5px; background-color: #12b886; color: white;" 
		         th:onclick="addSeri2([[${series.seriesName}]]);" th:text="${series.seriesName}"></button>
		</li>
	</ul>
</div>


</body>
<script>
var Seriname = getCookie("selSeries") || "없음";
var pElement = document.querySelector('.Seriname');
pElement.innerText = "설정된 시리즈 : "+Seriname;

var snum = sessionStorage.getItem("seriesNum") || 0;
var values = [];
	function handleKeyPress(event) {
		if (event.keyCode === 13) { // 13은 엔터 키의 keyCode입니다.
			var buttons = document.getElementsByClassName("alreadyIn");
			for (var i = 0; i < buttons.length; i++) {
			  var button = buttons[i];
			  values.push(button.innerText);
			}
			var input = document.getElementById("inpputSeries");
			if(input.value.trim() !== ""){
				if(!values.includes(input.value)){
	 				addSeriesList(input.value);
	 			}
			}
        input.value = ""; 
      }
    }
     
     function addSeriesList(series){
    	 values.push(series);
    	 var mycss=` font-size: 15px; margin: 10px 0px 0px 0px; padding: 5px; border: none; border-radius: 5px; background-color: #12b886; color: white;`;
    	 var tb1 = `<li class="seriesLi" style="list-style:none; display: grid;" ><button class="alreadyIn" id="selSeriBtn${snum}" style="${mycss}" onclick="addSeri(${snum})">${series}</button></li>`;
    	  $("#seriesUl").append(tb1);
    	  snum++;
    	  
    	  sessionStorage.setItem("seriesNum",snum);
     }
     function addSeri(seriId){
    	 var seri = document.getElementById("selSeriBtn"+seriId.toString());
//     	 alert(seri.innerText);
		setCookie("selSeries", seri.innerText, 1);
//     	 sessionStorage.setItem("selSeries",seri.innerText);
    	 this.close();

     }
     function addSeri2(seriesName){
//     	 var seri = document.getElementById("selSeriBtn"+seriId.toString());
//     	 alert(seriesName);
		setCookie("selSeries", seriesName, 1);
//     	 sessionStorage.setItem("selSeries",seri.innerText);
    	 this.close();

     }
     var setCookie = function(name, value, exp) {
         var date = new Date();
         date.setTime(date.getTime() + exp*24*60*60*1000);
         document.cookie = name + '=' + value + ';expires=' + date.toUTCString() + ';path=/';
     };
     function getCookie(name){
    	 var value = document.cookie.match('(^|;) ?' + name + '=([^;]*)(;|$)');
 	    return value? value[2] : null;
     }
    </script>
</html>