<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<form action="/save-data" method="POST" id="myForm"> 
	<input type="hidden" name="gridtitle"  id="title"/>
    <input type="hidden" name="gridData"  id="myInput"/>
    <input type="hidden" name="tag"  id="tag"/>
</form>
</body>
<script >

    
var gridData = sessionStorage.getItem("editcont");
var boardTitle = sessionStorage.getItem("boardTitle");
var tagList = sessionStorage.getItem("tagList");

// alert(tagList);

var inputElement = document.getElementById('myInput');
inputElement.value = gridData;
var titleElement2 = document.getElementById('title');
titleElement2.value = boardTitle;
var titleElement3 = document.getElementById('tag');
titleElement3.value = tagList;

var form = document.getElementById('myForm');
form.submit();



</script>
</html>