<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link th:href="@{/css/save_style.css}" rel="stylesheet">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
</head>
<body>
	<div class="backgrd" >
		<div class="subback">

			<div class="rightbody">
<!-- 				<div class="rightsub" style="    height: 100%;"> -->
				<div class="rightsub" >
<!-- 				th:each="series: ${seriesList}" th:text="${series.seriesName}" -->
					<p style="padding:8px 0px 8px 0px; " ><strong>시리즈 설정</strong></p>
					<button class="addBtn" id="addBtn" onclick="showInputSeri()" ><strong>시리즈 설정</strong></button>
<!-- 					<div id="seriesInputlist" class="seriesInputlist" style="  height: 40%;"> -->
					
<!-- 					</div> -->
					<div class="bottomArea">
						<button class="xBtn" onclick="history.back()" ><strong>취소</strong></button>
						<button class="saveBtn" onclick="save()"><strong>출간하기</strong></button>
					</div>
				</div>
			</div>
		</div>
	</div>

</body>
<script th:inline="javascript">
var thumSrc = "";///editPost/imgs/imgIcon.png
function thumImgPath() {
	  const input = document.getElementById('thumImg');
	  const preview = document.getElementById('imgIcon');
		
	  // 파일이 선택되었을 때만 실행
	  if (input.files && input.files[0]) {
	    const reader = new FileReader();
//		alert();
//console.log(preview.src);
	    reader.onload = function (e) {
	      preview.src = e.target.result;
//	      이미지 업로드시
			thumSrc =  preview.src;
// 			console.log(thumSrc);
// 	      
	    };
	    reader.readAsDataURL(input.files[0]);
	  }
	}
	
function delImg(){
	thumSrc = "";
	const preview = document.getElementById('imgIcon');
	preview.src = "/editPost/imgs/imgIcon.png";
}	
function showInputSeri() { 
// 	alert(seriesList[0]);
	window.open("openSeriesPopup", "a", "width=500, height=400, left=500, top=150");}

function addSeri(seriId){
	 var seri = document.getElementById("selSeriBtn"+seriId.toString());
	 sessionStorage.setItem("selSeries",seri.innerText);
	 alert(seri.innerText);
	 delHtml(seri.innerText);
}

function delHtml(seri) {
	  $("#seriesInputlist").empty();
	  
	  var code = `<p style="width:80%;font-size: 20px; display: flex; align-items: stretch; justify-content: space-evenly;">선택된 시리즈 : <strong>${seri}</strong></p>`;
	  $("#seriesInputlist").append(code);
	  var code2 = `<button style="background-color: #00ff0000; color: red; border: none;margin-top: 20px;" onclick="del()">시리즈 삭제</button>`;
	  $("#seriesInputlist").append(code2);
	  
	}
function del(){
	seriList = [];
	sessionStorage.removeItem("selSeries");
	$('#seriesInputlist').empty();
}


function save(){
	 var selSeries = getCookie("selSeries");
	 var isnull = getCookie("isnull");
	 if (isnull != "no") {
		 selSeries = "기본";
		}
	
	sessionStorage.setItem("selSeries",selSeries);
	sessionStorage.setItem("thumPath",thumSrc);
	deleteCookie("selSeries");
	deleteCookie("isnull");
	location.href='/controller';
}
function deleteCookie(name) {
    document.cookie = name + "=; expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/;";
}
var getCookie = function(name) {
    var value = document.cookie.match('(^|;) ?' + name + '=([^;]*)(;|$)');
    return value? value[2] : null;
};
</script>
</html>