<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link th:href="@{/css/save_style.css}" rel="stylesheet">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
</head>
<body>
	<div class="backgrd" >
		<div class="subback">
			<div class="leftbody">
				<p ><strong>포스트 미리보기</strong></p>
				<div class="inputImg">
					<div class="subinputImg">
						<div class="a18">
							<div class="imgIconArea" >
								<img src="/editPost/imgs/imgIcon.png" class="imgIcon">
							</div>
							<button class="upBtn"><strong>썸네일 업로드</strong></button>
						</div>
						
					</div>
				</div>
				<div class="inputArea" >
					<textarea class="introduction"  placeholder="소개 입력"></textarea>
				</div>
				
			</div>
			<div class='v-line'></div>
			<div class="rightbody">
				<div class="rightsub">
					<p style="padding:8px 0px 8px 0px; "><strong>시리즈 설정</strong></p>
					<button class="addBtn" id="addBtn" onclick="showPopup()"><strong>시리즈에 추가하기</strong></button>
					<div id="serieslist" class="serieslist"></div>
					<div class="bottomArea">
						<button class="xBtn" onclick="history.back()" ><strong>취소</strong></button>
						<button class="saveBtn" onclick="save()"><strong>출간하기</strong></button>
					</div>
				</div>
			</div>
		</div>
	</div>
</form>

</body>
<script>
function showPopup() { 
	window.open("openSeriesPopup", "a", "width=400, height=300, left=550, top=200"); 
}


function save(){
	alert(getCookie("selSeries"));
	location.href='/controller';
}

var getCookie = function(name) {
    var value = document.cookie.match('(^|;) ?' + name + '=([^;]*)(;|$)');
    return value? value[2] : null;
};
</script>
</html>