@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@300&display=swap');

*{
font-family: 'IBM Plex Sans KR';}
/* body{ */
/* width: 100%; */
/* height: 500px; */

/* } */
#footBody{
	margin-top:200px;
	background-color:#c4c3c324;
width: 100%;
height: 250px;
display:flex;
align-items: center;
justify-content: center;
 box-shadow: rgba(0, 0, 0, 0.06) 0px 0px 4px 4px;
    
}