@charset "UTF-8";

.bodyBack2{
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
}

.subform{
	width: 50%;
	display: block;
	box-shadow: 0px 0px 3px 1px rgb(206, 206, 206);
	padding: 0px 20px 20px 40px;
}

.dubckBtn{
	width: 80px; font-size: 13px; margin-left: 20px; padding-left : 5px; padding-right: 5px; border: none; border-radius: 5px; background-color: #12b886; color: white;
}