<!DOCTYPE html>
<html xmlns:th = "http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>임시 글 목록 - velog</title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/autosize.js/4.0.2/autosize.min.js"></script>
<link th:href="@{/css/tempstyle.css}" rel="stylesheet">
<link th:href="@{/css/headerStyle.css}" rel="stylesheet">
<style >
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@300&display=swap');

*{
font-family: 'IBM Plex Sans KR';
}

</style>

<body>
<div id="header" th:replace="fragments/header :: header" ></div>
   <br><br><br>
 <div class="container" > 
 		
       
        <section class="content-container" >
	            <article id="tab1" class="content-container__content target">          	        
			        <div class="titlAarea">
				 		<h1 class="titleH1" >임시 글 목록</h1>
					</div>	
			        <div class="postArea" th:each="temp : ${temps}" >
			        	<h1 class="postH1" th:text="${temp.temporaryTitle}"
			        	th:onclick="|myFunction('${temp.temporaryId}')|"></h1>
			            <p class="postCont" th:if="${temp.temporaryDetail}" th:text="${temp.temporaryDetail}"></p>

			            <section>
			            	<div class="time" th:text="${temp.temporaryDate}"></div>
			            	<button class="remove" th:onclick="|del('${temp.temporaryId}')|">삭제</button>
			            </section>	            
			                        
			            <br>
			            <hr class="hr1">
			        </div>
		        </article>
        </section>
  </div>
	        
	        
            
         
          
       

</body>
</html>
<script>
// location.reload();
	//외부 html 붙히기
// 	$(function() {
// 	  $("#header").load("/header/header.html");
// 	});
	const tabItem = document.querySelectorAll(".tab-container__item");
	const tabContent = document.querySelectorAll(".content-container__content");
	
	tabItem.forEach((item) => {
	item.addEventListener("click", tabHandler);
	});

  	//tab메뉴
	function tabHandler(item) {
	const tabTarget = item.currentTarget;
	const target = tabTarget.dataset.tab;
	tabItem.forEach((title) => {
	    title.classList.remove("active");
	});
	tabContent.forEach((target) => {
	    target.classList.remove("target");
	});
	document.querySelector("#" + target).classList.add("target");
	tabTarget.classList.add("active");
	}

    const btnShowForm = document.getElementById("btn-show-form");
    const formContainer = document.getElementById("form-container");


    btnShowForm.addEventListener("click", () => {
        btnShowForm.style.display = "none";

        // 폼을 동적으로 추가하기
        const form = document.createElement("form");
        form.method = "POST";
        form.action = "/post";
        form.innerHTML = `
				<textarea name="content" class="form-control autosize" placeholder="당신은 어떤사람인가요? 당신에 대해서 알려주세요."></textarea>
				<button class="btn btn-primary" type="submit">저장하기</button>
			`;
        formContainer.appendChild(form);
        autosize(document.querySelector('textarea'));
    });
    
    
    function myFunction(id){		//게시물 상세 페이지로 게시물 아이디 넘기기
// 		alert("개굴게시물 : "+id); 
		location.href = '/goTempEdit/'+id;///login
	}
    
    function del(temporaryId){
    	location.href = '/delTemp/'+temporaryId;
    }
</script>