@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@300&display=swap');

*{
font-family: 'IBM Plex Sans KR';
}

body,html{
	width: 100%;
	height: 100%;
	margin: 0px;
}

.backgrd{
	display: flex;
	justify-content:center;
	align-items:center;
	width: 100%;
	height:100%;
	background-color: #f8f9fa;
	
}
.subback{
	width: 50%;
	height:50%;
	display: flex;
	justify-content:center;
	align-items:center;
}
.leftbody{
	justify-content:center;
	align-items:center;
	width: 50%;
	height:100%;
}
.v-line {
  border-left : 1px solid #e9ecef;
  height : 100%;
  margin-left: 20px;
  margin-right: 20px;
}


.inputImg{
	display: flex;
	justify-content:center;
	align-items:center;
	background-color: #e9ecef;
	width: 100%;
	height: 50%;
	border-radius: 2px;
	
}
p{
	height: 10%; 
	margin: 0px; 
	display: flex;
	align-items: center;
	font-size: 20px;
}
img.imgIcon{
	width: 50%;
	opacity: 0.3;
}
.subinputImg{
	width: 60%;
	height: 100%;
	display: flex;justify-content: center;align-items: center;
}
.a18{
	width: 100%;
	
}

.upBtn{
	width: 100%; 
	font-size: 15px; 
	padding:5px;
	border-radius:5px;
	background-color: white; 
	border: none; 
	color: #12b886;
}
.imgIconArea{
	display: flex;justify-content: center;align-items: center;
	padding-bottom: 15px;
}
.inputArea{
	display: flex;
	justify-content: center;
	align-items: center; 
	width: 100%; 
	height: 40%;
	
}
.introduction{
	width: 100%;
	height: 55%;
	border: none;
	padding: 10px;
	outline: none;
	resize: none;
	box-shadow:  0px 0px 2px 0px rgb(206, 206, 206);
}

.rightbody{
	width: 50%;
	height:100%;
	display: flex;
	justify-content: center;
	align-items: center; 
}

.rightsub{
	width: 100%;
}

.bottomArea{
	width: 80%;
    display: flex;
    justify-content: flex-end;
    padding:8px 0px 8px 0px;
    margin:40px 0px 0px 0px;
}

#addBtn{
	margin:0px 0px 8px 0px;
	padding:8px 0px 8px 0px;
	width: 80%; 
	font-size: 15px; 
	padding:5px;
	border-radius:5px;
	background-color: white; 
	border: none; 
	color: #12b886;
	box-shadow:  0px 0px 2px 0px rgb(206, 206, 206);
}

.xBtn{
	border: none;
	background-color: #00ff0000;
	color: #12b886;
	font-size: 1.125rem;
	font-weight: bold;
	width: 40%;
	padding: 3px 7px 3px 7px;
	
}
.saveBtn{
	border: none;
	background-color: #12b886;
	color: white;
	font-size: 1.125rem;
	font-weight: bold;
	width: 40%;
	padding: 3px 7px 3px 7px;
	border-radius: 5px;
}
