@charset "UTF-8";


.title {
	width:80%; border: none; outline: none; font-size: 40px; padding: 20px;
}
.tags{
	width:80%; border: none; outline: none; font-size: 20px; padding: 20px; padding-top: 0px;
}
.bottomArea{
	width: 100%;display: flex; justify-content: center;
}
.buttonArea{
	display: flex; justify-content: center; margin: 20px; width: 50%; padding: 20px; box-shadow:  0px 0px 6px 0px rgb(206, 206, 206);
}
.backArea{
	width: 30%;
}
.backBtn{
	width: 100px; font-size: 15px; background-color: #00ff0000; border: none; padding: 5px;
}
.saveArea{
	width: 70%;display: flex;justify-content: flex-end;
}
.tmprysaveBtn{
	width: 100px; font-size: 15px; padding-left : 5px; padding-right: 5px; background-color: #00ff0000; border: none; color: #12b886;
}
.saveBtn{
	width: 100px; font-size: 15px; margin-left: 20px; padding-left : 5px; padding-right: 5px; border: none; border-radius: 5px; background-color: #12b886; color: white;
}


/* 에디터 커스텀 */
.toastui-editor-defaultUI-toolbar .scroll-sync.active:before {
    color: #12b886 !important;
}
.toastui-editor-defaultUI-toolbar input:checked+.switch {
    background-color: #12b88652!important;
}

.toastui-editor-defaultUI-toolbar input:checked+.switch:before {
    background-color: #12b886 !important;
}
:not(.auto-height)>.toastui-editor-defaultUI, :not(.auto-height)>.toastui-editor-defaultUI>.toastui-editor-main {
    
    border: none;
}
.toastui-editor-defaultUI-toolbar {
    background-color: #00ff0000 !important;
    border-top: 1px solid;
    border-top-color: #ebedf2;
}
.toastui-editor-defaultUI-toolbar button {
    border: none !important;
}

body{
	margin: 0px;
	width: 100%;
        height: 100%;
}


